* {
    margin: 0;
    padding: 0;
}

header {
    position: relative;
    width: 100%;
    height: 10vh;
    margin-bottom: 10vh;
    background-color: rgb(255, 220, 0);

    .icon {
        position: absolute;
        margin: 5px;
        width: 10vw;
        height: 9vh;
        z-index: 10;

        background-image: url("Капибара\ svg.svg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }

    .title {
        top: 0;
        left: 25vw;
        position: absolute;
        line-height: 10vh;

        font-size: 20px;
        font-family: Arial, Helvetica, sans-serif;
        font-style: italic;
        letter-spacing: 0.5vh;
    }
}

.main_button {
    display: block;
    margin: 10px auto;
    width: 90%;
    height: 10vh;

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 3.5vh;

    border-radius: 10px;
    border: 2px solid white;
    background-color: rgb(170, 170, 170);
}

.animation {
    background-color: rgb(255, 220, 0);
    transition: background-color 0.4s;
}

footer {
    position: absolute;
    top: 90vh;
    width: 100%;
    height: 10vh;
    background-color: rgb(255, 220, 0);
}
.User_card_wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.card{
    text-align: center;
    margin: 10%;
    font-size: 32px;
}
h2{
    text-align: center;
    font-size: 45px;
}
.pay_button{ 
    background-color: rgb(255, 220, 0);
    border-radius: 10px;
    font-size: 32px;
    border: 2px solid white;
    margin-top: 3%;
    width: 200px;
    height: 50px;}
    .dropbtn {
        background-color: #000000;
        color: white;
        border-radius: 10px;
        margin-top: 15%;
        margin-right: 25px;
        padding: 16px;
        font-size: 16px;
        border: none;
        cursor: pointer;
      }
      
      .dropbtn:hover, .dropbtn:focus {
        background-color: #9b4117;
      }
      
      .dropdown {
        float: right;
        position: relative;
        display: inline-block;
      }
      
      .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        min-width: 160px;
        overflow: auto;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        right: 0;
        z-index: 1;
      }
      
      .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
      }
      
      .dropdown a:hover {background-color: #ddd;}
      
      .show {display: block;}
      .name_of_user{
        font-size: 72spx;
      }