* {
    margin: 0;
    padding: 0;
}

/* Классы - маркеры */
.check {}

button {
    font-size: 2.5vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header {
    position: relative;
    width: 100%;
    height: 10vh;
    margin-bottom: 2vh;
    background-color: rgb(255, 220, 0);

    .icon {
        position: absolute;
        margin: 5px;
        width: 20vw;
        height: 9vh;
        z-index: 10;

        background-image: url("Капибара\ svg.svg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }

    .title {
        top: 0;
        left: 25vw;
        position: absolute;
        line-height: 10vh;

        font-size: 20px;
        font-family: Arial, Helvetica, sans-serif;
        font-style: italic;
        letter-spacing: 0.5vh;
    }
    
}

.block_input_button {
    display: block;
    margin: auto;
    position: relative;
    height: calc(12vh + 3px);
    width: 95%;
    margin: 10px;
}

.block_button {
    position: absolute;
    width: 65%;
    height: 6vh;
    top: 0;

    border: none;
    border-radius: 10px 10px 0px 0px;
    background-color: rgb(255, 220, 0);
}

.input_class {
    position: absolute;
    width: 95%;
    height: 6vh;
    bottom: 0;
    padding-left: 10px;
    margin-top: 2px;
    border: 1px solid white;
    border-radius: 4px; 

    font-size: 2vh;
    border: none;

    border-radius: 0px 0px 5px 5px;
    border: 3px rgb(255, 220, 0) solid;

    &:focus {
       outline: none; 
    }
}

.who_pay_data_block {
    position: absolute;
    bottom: 0;

    width: 100%;
    height: 6vh;
}

.who_pay_name {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(50% - 10px);
    height: 100%;

    padding-left: 10px;
    border: 3px rgb(255, 220, 0) solid;
    border-radius: 0px 0px 0px 5px;
    font-size: 2vh;

    &:focus {
        outline: none; 
    }
}

.who_pay_summ {
    position: absolute;
    top: 0;
    right: 0;
    width: calc(50% - 10px);
    height: 100%;

    padding-left: 10px;
    border: 3px rgb(255, 220, 0) solid;
    border-radius: 0px 0px 5px 0px;
    font-size: 2vh;

    &:focus {
        outline: none; 
    }
}

.replace_block {
    display: block;
    margin: auto;
    margin-bottom: 10px;
    position: relative;
    width: 95%;
    height: 6vh;
}

.replace_button {
    position: absolute;
    width: 100%;
    height: 100%;

    background-color: rgb(255, 220, 0);
    border-radius: 10px;
    border: none;
}

.cancel_button {
    position: absolute;
    top: 0;
    right: 5%;
    width: 2.5vh;
    height: 2.5vh;
    background-color: red;
}

.general_block {
    position: relative; 
    display: block;
    margin: auto;
    margin-bottom: 10px;
    width: 95%;
    min-height: 6vh;
    height: auto;
}

.general_button {
    display: block;
    margin: auto;
    margin-top: 2vh;
    width: 100%;
    height: 6vh;

    background-color: rgb(255, 220, 0);
    border-radius: 10px;
    border: none;
}

.style_person_block {
    position: relative;
    display: block;
    margin: auto;
    width: 100%;
    height: 7vh;
    margin-top: 1vh;
}

.style_person_name {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(50% - 10px);
    height: calc(100% - 3px);

    padding-left: 10px;
    border: 3px solid rgb(255, 220, 0);
    border-radius: 10px 0px 0px 10px;
    font-size: 2vh;

    &:focus {
        outline: none; 
    }
}

.style_person_summ {
    position: absolute;
    top: 0;
    right: 0;
    width: calc(50% - 10px);
    height: calc(100% - 3px);

    padding-left: 10px;
    border: 3px rgb(255, 220, 0) solid; 
    border-radius: 0px 10px 10px 0px;
    font-size: 2vh;

    &:focus {
        outline: none; 
     }
}

.style_person_summ_check {
    position: absolute;
    top: 0;
    right: 0;
    width: calc(50% - 10px);
    height: calc(100% - 3px);

    padding-left: 10px;
    border: 3px rgb(255, 220, 0) solid; 
    border-radius: 0px 10px 10px 0px;
    font-size: 2vh;

    &:focus {
        outline: none; 
     }
}

.send_button {
    display: block;
    margin: auto;
    margin-top: 2vh;
    width: 97%;
    height: 8vh;

    background-color: rgb(255, 220, 0);
    border-radius: 10px;
    border: 5px rgb(240, 180, 0) solid;
}

    .dropbtn {
        background-color: #000000;
        color: white;
        border-radius: 10px;
        margin-top: 15%;
        margin-right: 25px;
        padding: 16px;
        font-size: 16px;
        border: none;
        cursor: pointer;
      }

  .dropbtn:hover, .dropbtn:focus {
    background-color: #9b4117;
  }
  
  .dropdown {
    float: right;
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    right: 0;
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown a:hover {background-color: #ddd;}
  
  .show {display: block;}